<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ma banque</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

   
  </head>
  <body>
    <header>
    	<div class = "navbar navbar-inverse">
    		<div class="container-fluid">
    			<ul class="nav navbar-nav">
    				<li><a th:href="@{/}">Home</a></li>
    			</ul>
    		</div>
    	</div>
    </header>
    
    
    
    
    
    
    
    <section layout:fragment="content">
    
    	<div class="col-md-6">
    		<div class="panel panel-primary">
    			<div class="panel-heading">Consultation d'un compte</div>
    			<div class="panel-body">
    				<form th:action="@{/consulterCompte}" method="get">
    					<div>
    						<label>code compte :</label>
    						<input type="text" name="codeCompte" th:value="${codeCompte}"/>
    						<button type="submit" class="btn btn-primary ">Ok</button>
    					
    					</div>
    				
    				
    				</form>
    				<div class="text-danger" th:if="${exception}" th:text="${exception.message}">
    				
    				</div>
    			
    			</div>
    		</div>
    		
    		<div class="panel panel-primary" th:if="${compte}">
    			<div class="panel-heading">Informations sur le compte</div>
    			
    			<div class="panel-body">
    				
    				<div>
    					<label>Client :</label>
    					<label th:text="${compte.client.nom }"></label>
    				</div>
    			
    				<div>
    					<label>Code :</label>
    					<label th:text="${compte.codeCompte}"></label>
    				</div>
    				<div>
    					<label>Date de création :</label>
    					<label th:text="${compte.dateCreation}"></label>
    				</div>
    				<div>
    					<label>Solde :</label>
    					<label th:text="${compte.solde}"></label>
    				</div>
    				<div>
    					<label>Type :</label>
    					<label th:text="${compte.class.simpleName}"></label>
    				</div>
    				
    				<div th:if="${compte.class.simpleName == 'CompteCourant'}">
    					<label>Découvert :</label>
    					<label th:text="${compte.decouvert}"></label>
    				</div>
    				
    				<div th:if="${compte.class.simpleName=='CompteEpargne'}">
    					<label>Taux :</label>
    					<label th:text="${compte.taux}"></label>
    				</div>
    			
    			</div>
    		</div>
    	</div>
    	
    	<div class="col-md-6">
    		<div class="panel panel-primary" th:if="${compte}">
    			<div class="panel-heading">Opeartions sur le compte</div>
    			
    			
    			<div class="panel-body">
    				<form th:action="@{/saveOperation}" method="post">
    					<div>
    						<label>Compte :</label>
    						<input type="hidden" name="codeCompte"  th:value="${codeCompte}" />
    						<label th:text ="${codeCompte}"></label>
    					</div>
    					
    					<div>
    						<input type="radio" name="typeOperation" value="VERS" checked="checked" 
    								onchange="document.getElementById('forVirement').style.display = 'none'"/>
    						<label>Versement</label>
    						<input type="radio" name="typeOperation" value="RET"
    								onchange="document.getElementById('forVirement').style.display = 'none'" />
    						<label>Retrait</label>
    						<input type="radio" name="typeOperation" value="VIR" 
    								onchange="document.getElementById('forVirement').style.display = 'block'"/>
    						<label>Virement</label>
    					
    					</div>
    					<div id="forVirement" style="display:none">
    						<label>Destinataire : </label>
    						<input type="text"  name="codeCompte2"/>
    					</div>
    					<div>
    						<label>Montant : </label>
    						<input type="text"  name="montant"/>
    					</div>
    					
    					<div class="text-danger" th:text="${#httpServletRequest.getParameter('error')}">
    					</div>
    					
    					<button class="btn btn-primary" type="submit">Confirmer</button>
    				
    				</form>
    			
    			
    			</div>
    		</div>
    		
    		<div class="panel panel-primary" th:if="${compte}">
    			<div class="panel-heading">Liste des operations</div>
    			<div class="panel-body">
    				<table class="table table-striped">
    					<tr>
    						<th>Numero</th><th>Type</th><th>Date</th><th>Montant</th>
    					</tr>
    					<tr th:each="o:${listeOperations}">
    						<td th:text="${o.numero}"></td>
    						<td th:text="${o.class.simpleName}"></td>
    						<td th:text="${o.dateOperation}"></td>
    						<td th:text="${o.montant}"></td>
    						
    					</tr>
    				
    				</table>
    				<div class="container">
    					<ul class="nav nav-pills">
    						<li th:each="p,status:${pages}">
    							<a th:href="@{/consulterCompte(codeCompte=${codeCompte}, page=${status.index})}" th:text="${status.index}"></a>
    						</li>
    					</ul>
    					
    				</div>
    			
    			
    			</div>
    		</div>
    	</div>
    	
    	
    </section>
    
    
    
    
    
    
    
    <footer>
    	<div class="navbar-fixed-bottom">
    		<small>Email : omardjaghmoum@gmail.com</small>
    	</div>
    </footer>

   
   
   
   
   
   
   
   
   
   
   
   
   
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>